body {
    background-color: rgb(247, 247, 247);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.recipes {
    border: 5px solid black;
    padding: 1em;
    background-color: rgb(111, 184, 22, 0.6);
}
#home {
   width: 50px;
   height: auto;
}
.recipe_list {
    display: inline-flex;
}