body {
    background-color: rgb(247, 247, 247);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.recipes {
    border: 5px solid black;
    padding: 1em;
    background-color: rgb(111, 184, 22, 0.6);
}
#home {
   width: 50px;
   height: auto;
}
.recipe-list {
    display: inline-flexbox;
}
.low-fat-burger {
    background-image: url(img/beefburger.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    box-sizing: border-box;
    width:200px;
    height: 200px;
    text-align: center;
    border: 0.2em solid black;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
h3 {
    margin-block-start: 0.5em;
}